// Colors
$color-Black: #000;
$color-white: #fff;
$color-yellow: rgb(245, 245, 26);
$color-red: red;
$color-blue: rgb(19, 19, 102);


// BackgroundColors
$bg-Black: #000;
$bg-White: #FFF;
$bg-yellow: rgb(245, 245, 26);
$bg-yellow-2: rgb(216, 216, 53);
$bg-pink: rgb(242 53 53);
$bg-cart: #e1dfdf;
$bg-yellow-3: rgb(255 255 204);
$bg-yellow-4: rgb(226, 226, 182);
$bg-header: #60679B;
$bg-blue: rgb(168, 165, 219);
$bg-blue-2: rgb(58, 16, 226);
$bg-blue-2-hover: rgb(132, 12, 231);
$bg-red: rgb(226, 83, 16);
$bg-red-hover: rgb(230, 108, 71);

// FontSize
$fs-1: 1rem;
$fs-2: 1.5rem;
$fs-3: 2.0rem;
$fs-4: 2.5rem;
$fs-5: 3rem;

// FontWeight
$fw-1: normal;
$fw-2: 300;
$fw-3: 600;
$fw-4: 800;
